.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.cont{
  ax-width: 900px;
  margin: auto;
  padding: 30px;
  background: #f4f4f4;
  border-radius: 10px;
  margin-top: 25px;
  overflow: hidden;
}
/* Create a 3-column grid layout */
.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  gap: 30px;
}

.form-column {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
}
