/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-image: url('E:/NEST/feature-form-app/src/assests/BG.png');
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}
